@page "/people/iqua"

<PageTitle>Iqua</PageTitle>

<h6>Iqua</h6>

<AdminShowWrapper>
    <p>
        <a href="https://www.fantasynamegenerators.com/winter-town-names.php">Stadtnamen</a>
    </p>
</AdminShowWrapper>
