@page "/people/iqua"

<PageTitle>Iqua</PageTitle>

<h6>Iqua</h6>

<AdminShowWrapper>
    <p>
        <a href="https://www.fantasynamegenerators.com/winter-town-names.php">Stadtnamen</a>
    </p>
</AdminShowWrapper>

<p>
    Die meiste Zeit von Eis und Kälte heimgesucht ist Iqua ein Land mit Nadelwäldern <br />
    so weit das Auge reicht. Neben den Flüssen gibt es viele meist zugefrorene Seeen <br />
    Für die meisten ein unbewohnbares Gebiet, jedoch nicht für die
    <ElveLink Plural="true" />
</p>

<p>
    Iqua hat keine direkte Regierung, sondern sind die meisten dörfer selbständige Klans. <br />
    In der Hauptstadt Cristalfort finden sich zwar mehrere große Klans ein, jedoch bleiben <br />
    die eher unter sich.
</p>

<p>
    In jeder Ortschaft gibt es einen kleinen Marktplatz in denen Jäger ihre Beute und Sammler <br />
    ihre Funde verteilen. Innerhalb eines Klans wird immer geteilt und jeder bekommt was er <br />
    benötigt.
    <ElveLink Plural="true" /> anderer Klans sind eher unerwünscht.
</p>

<p>
    Jeder Klan hat ein Familienoberhaupt, welches jede Generation von den verschiedenen <br />
    Familienzweigen gelost wird. Dieser ist fungiert eher eine Richtweisende Rolle, die <br />
    Streit schlichtet oder die Nahrungsbestände verwaltet.
</p>

<p>
    Für eine Beschreibung der Einwohner und deren Gepflogenheiten siehe:
    <ElveLink />
</p>
