<h3>Shiverlight (Magiergilde)</h3>

<p>
    Die Shiverlight ist die größte und mächtigste Gilde von Cherstan. Sie befasst sich
    vor allem mit der magischen und historischen Forschung.
    Magische Kräfte sind keine Vorraussetzung des Eintritt.
    Man kann sich durch abgabe der Forschungnotizen über die Gilde finanzieren, jedoch
    forschen viele unabhängig mit dem Verkauf von experimentellen Produkten.
    Ebenso laufen alle aktivitäten der Alchemisten über die Magiergilde.
</p>

<h3>Bouldergarde (Militär / Garde)</h3>

<p>
    Die Bouldergarde ist das Militär und die Stadtwache von Cherstan.
    Sie stellen Wachpersonal und Gesetzeshüter, sie bilden die Executive.
    Die Bouldergarde befinden sich im dauerhaften Kampf gegen die unsicheren
    magischen experimente der Shiverlight Mitglieder.
</p>


<h3>Richter</h3>

<p>
    Die Richter bilden die Rechtsprechung und alle anderen müssen sich ihren
    Urteilen beugen. Jedoch können sie sich nicht in der Regierung des Landes einbringen.

</p>

<h3>Bürgerliche</h3>

<p>
    Die Bürgerlichen sind der Restliche Teil der Bevölkerung. Bauern, Handwerker, Händler.
</p>