<p>
    Cherstan ist eine Rebublick, deren Vertreter aus dem Volk gewählt werden.
</p>

<ul>
    <li>40 % Shiverlight</li>
    <li>35 % Bouldergarde</li>
    <li>25 % Bürgerliche</li>
</ul>

<p>
    Der Senat stimmt über Gesetzte und Außenpolitische Themen ab. Quasi jedes Thema
    wird über Tage hin durch heftige Debatten mit viel Zorn ausdiskutiert.
</p>