@page "/people"

<PageTitle>Völker</PageTitle>

<h1>Die Völker von Romeilter</h1>

<ul>
    <li>
        <a href="/people/cherstan">Cherstan</a>
    </li>
    <li>
        <a href="/people/federation">Federation von Khergia</a>
    </li>
    <li>
        <a href="/people/iqua">Iqua</a>
    </li>
    <li>
        <a href="/people/cerg">Protektorat Cerg</a>
    </li>
    <li>
        <a href="/people/ahian">Sultanat Ahian</a>
    </li>
</ul>
