@page "/people/cerg"

<PageTitle>Protektorat Cerg</PageTitle>

<h6>Protektorat Cerg</h6>

<AdminShowWrapper>
    <p>
        <a href="https://www.fantasynamegenerators.com/gnome-town-names.php">Stadtnamen</a>
    </p>
</AdminShowWrapper>

<p>
    Ein kleines Land voller Laubwälder, Hügel und Berge. Die Heimat der
    <GnomesLink Plural="true" /> <br />
    ist oft eine inspiration für Künstler. Im Kontrast zu der abwechslungsreichen Natur sieht <br />
    man die Bauwerke der
    <GnomesLink Plural="true" />. Aquädukte, Brücken und Wassermühlen <br />
    verzieren die Landschaft.
</p>

<p>
    Cerg ist eine Demokratie, der aktuelle gewählte Anführer ist Wompot, der seine Amtszeit <br />
    in 3 Jahren beendet hat. Eine Amtszeit geht immer 5 Jahre. Leider kann er aktuell als <br />
    Vasall von
    <FederationLink /> keine großen Entscheidungen treffen und versucht hauptsächlich <br />
    das nationale Budget und Infrastruktur zu verwalten.
</p>

<p>
    Die Angesehendsten
    <GnomesLink Plural="true" /> von Cerg sind die Proffessoren und Experten der Universitäten. <br />
    Welche als direkte Berater für den Anführer fungieren. Die größten Universitäten und <br />
    Forschungseinrichtungen findet man in der Hauptstadt Bongsti.
</p>

<p>
    Seit einigen Jahren wird gemunkelt, dass Cerg die Unabhängigkeit von
    <FederationLink /> sucht <br />
    jedoch wurde bisher keine offizielle Bekanntmachung oder Antrag gestellt.
</p>

<p>
    Für eine Beschreibung der Einwohner und deren Gepflogenheiten siehe:
    <GnomesLink />
</p>