@page "/people/rose"

<AdminShowWrapper>
    <PageTitle>Rose</PageTitle>

    <h6>Die Rose</h6>

    <p><b>"Man muss Schäden verursachen um etwas Schönes zu erhalten</b></p>

    <p>Die Rose ist eine GeheimOrganisation, die die neu erlange Magie nutzen will um die Welthersschaft an sich zu
        reißen.</p>
</AdminShowWrapper>