@page "/people/rose"

<PageTitle>Rose</PageTitle>

<h1>Die Rose</h1>

<p><b>"Man muss Schäden verursachen um etwas Schönes zu erhalten</b></p>

<p>Die Rose ist eine GeheimOrganisation, die die neu erlange Magie nutzen will um die Welthersschaft an sich zu reißen.</p>