@page "/world/races/dwarf"

<PageTitle>Zwerge</PageTitle>

<h6>Zwerge</h6>

<AdminShowWrapper>
    <p>
        <a href="https://www.fantasynamegenerators.com/dwarf-names.php" target="_blank">Namesgenerator (Nachnahme in
            deutsch übersetzen)</a>
    </p>
</AdminShowWrapper>