@page "/world/races/dwarf"

<PageTitle>Zwerge</PageTitle>

<h6>Zwerge</h6>

<AdminShowWrapper>
    <p>
        <a href="https://www.fantasynamegenerators.com/dwarf-names.php" target="_blank">Namesgenerator (Nachnahme in
            deutsch übersetzen)</a>
    </p>
</AdminShowWrapper>

<p>
    Die Zwerge leben in den Ostbergen in
    <FederationLink />. Viel ist nicht über sie bekannt. Zwerge erzählen <br />
    außenstehenden meistens nur was diese Wissen müssen. Alles andere hat man über Handelsbeziehungen langsam in <br />
    Erfahrung gebracht.
</p>

<p>
    Sie Leben in Klans zusammen, wobei die Mitglieder untereinander uneingeschränktes Vertrauen genießen. <br />
    Gegenüber den anderen Klans sind sie zum Teil genauso verschlossen wie Fremden. Ein Klan hat meist eine <br />
    Mine im Besitz, in der sie Wohnen und arbeiten. Obwohl viele denken, dass die Zwerge sehr spartanisch leben <br />
    Sind die Behausungen oft sehr prachtvoll gebaut und die Klans haben regelmäßige Festmahle.
</p>

<p>
    Die Zwerge sind etwa genauso Groß wie die
    <GnomesLink Plural="true" /> ca. 1,30m, jedoch sind sie sehr kräftig <br />
    gebaut und keineswegs im Nachteil zu den anderen Rassen. Manche Zwergenclans zeigen ihre Angehörigkeit <br />
    über das Flechtmuster ihres Bartes. Manche pflegen es glatt rasiert zu sein.
</p>

<p>
    Zwerge sind meister der Förderung und Verarbeitung von Erzen. Sie fördern die besten Metalle und Edelsteine der
    Welt. <br />
    Gerüchte besagen sie verfügen auch über seltenes extrem wiederstandsfähiges Metall, jedoch gibt es keine Fakten die
    darauf <br />
    hinweisen.
</p>

<p>
    Wenn man mit der Freundschaft und das Vertrauen eines Zwerges gesegnet ist, wird man von den Zwergen wie ein
    Familienmitglied <br />
    behandelt.
</p>

<p>
    <i>
        "Es geht nichts darüber nach erfolgreichen Geschäften mit einem Zwerg und dessen Familie ausgiebig zu feiern." -
        Visimar ein Händler aus
        <FederationLink />
    </i>
</p>

<p>
    Im Gegensatz zu ihrer Geheimiskrämerei sind die Zwerge sehr offen mit fremden Bekanntschaft zu machen. Viele <br />
    vermuten das dies darauf zurückgeht, dass sie unter sich sehr familiär sind. Jedoch werden nur die wenigsten <br />
    in ihre Geheimnise eingeweiht.
</p>

<p>
    Zwerge sind gefürchtete Kämpfer mit dem Kriegshammer und der Kriegsaxt. Ihre harten Waffen lassen die meisten <br />
    Schilde zerbersten. Ebenso hart sind ihre Plattenrüstungen, was sie zu gefährliche Kämpfern macht. Viele Zwerge
    <br />
    haben auch Kampferfahrung gegen die Kreaturen aus den tiefen Höhlen der Berge gesammelt.
</p>

<p>
    Zwerge vehren meist einen oder mehrere Götter des westlichen
    <PantheonLink />.
</p>