@page "/world/races/elves"

<PageTitle>Elfen</PageTitle>

<h6>Elfen</h6>

<AdminShowWrapper>
    <p>
        <a href="https://www.fantasynamegenerators.com/edo-japanese-names.php" target="_blank">Namensgenerator</a>
    </p>
</AdminShowWrapper>

<p>
    Elfen leben in den kalten weiten Wäldern von
    <IquaLink />.
    <IquaLink /> ist trotz der Kälte sehr Reichhaltig an Nahrung. <br />
    So bietet der eisige Wald unmengen an verschiedenen Beeren und Nüssen. Dadurch gibt es dort auch viele Tiere, welche
    von den <br />
    Eflen gejagt werden.
</p>

<p>
    Die Elfen haben meist lange dunkel grüne Haare und spitze Ohren. Sie kleiden sich meißt dunkelgrün mit weißen
    aktzenten, <br />
    damit sie beim Jagen in den eisigen Weiten gut getarnt sind. <br />
</p>

<p>
    Die Elfen leben im einklang der Waldgeister, welche sie um Hilfe bei der Jagd und der Suche nach Beeren und Nüssen
    bitten. <br />
    Krieger der Elfen, die Senshi haben meist einen Geist als Begleiter. Diese unterstützen sie beim kämpfen und
    verleiten ihnen <br />
    manchmal unglaubliche kräfte.
</p>

<p>
    In den kleinen Döfern der Elfen gibt es einen Ältesten Rat, der Entscheidungen zum wohle des Dorfes trifft. Dieser
    besteht <br />
    aus dem jeweils erfahrendsten Senshi (Kriegern), Hanta (Jäger) und Korekuta (Sammler). <br />
    Die wichtigste Aufgabe des Rates ist jedes Jahr sicherzustellen, dass das Dorf den Winter übersteht.
</p>

<p>
    Elfen sind sehr Pflichtbewusst und haben einen starken Sinn für Ehre, sie verabscheuen unehrbare dinge wie seinen
    Pflichten <br />
    nicht nachzukommen oder respektloses Verhalten. <br />
    Die Elfen, die nicht mehr in
    <IquaLink /> leben haben oft ihre eigenen Pflichten, die Sie für sich selbst festgelegt haben.
</p>

<p>
    Die Schwertschmiede- und Kampfkunst der Elfen sind in der ganzen Welt berühmt. Ihr spezieller Eisstahl (Koritetsu)
    ist leicht <br />
    und biegsam. Man kann daraus die schärfsten Katanas der Welt fertigen. Die Schuppenrüstungen der Elfen sind durch den
    Koritetsu zwar <br />
    sehr leicht. Bieten aber durch die biegsamkeit keinen besonders großen Schutz. <br />
    Daher sind sie in ihrem Schwertkampf sehr geschickt darin Angriffen auszuweichen.
</p>

<p>
    Einer der Bekanntesten Schwertmeisterinnen war Wakizaka Manno, die das Grab ihrere Gemahlin ehrte und bewachte. Sie
    wurde von <br />
    einer Gruppe von Grabräubern angegriffen und besiegte 25 Mann und schützte somit die Grabstätten ihrer Ahnen.
</p>

<p>
    Durch ihre Verbindung zu den Geistern beten die Elfen keine Götter an, sondern führen kleine Rituale mit den Geister
    durch <br />
    um ihre Gunst zu erlangen. Die Rituale bestehen meist aus Beeren als Opfergaben und einer meditativen Kommunikation
    zu den <br />
    Geistern. Die Geister können manchmal ihre Hilfe bei der Suche nach Dingen bieten, das Wetter verändern, Licht
    spenden etc.
</p>