@page "/world/races/giant"

<PageTitle>Riesen</PageTitle>

<p>
    <a href="https://www.fantasynamegenerators.com/giant-names.php">Namengenerator</a>
</p>

<p>
    Die Riesen leben im eisigen Norden von Iqua. <br />
    Sie sind bekannt für ihre liebe zu den heißen quellen und gelassene friedfertige weise. Und für ihre weitreichenden
    Kenntnisse von Heil und Duftkräutern <br />
</p>

<p>
    <i>"Kein Problem lässt sich nicht mit einem heißen Bad lösen."</i> - Guzbarg des Eiswindes
</p>

<p>
    Die Riesen haben eine blaue Haut, weiße Haare und spitze Ohren. Sie sind meistens von 2,3m - 3m groß.
</p>

<p>
    Mit allen anderen Rassen haben sie eine neutrale beziehung. Die
    <ElveLink Plural="true" /> haben eine freundschaftliche beziehung zu den Riesen. <br />
    Die anderen fürchten die Riesen meistens, da diese so groß sind und Bedrohlich wirken. Die meisten Gaststätten
    außerhalb von
    <CherstanLink /> sind auch nicht für die Riesen vorbereitet.
</p>

<p>
    Der größte bekannte Riese ist Runbor der große mit 3m Körpergröße, er ist ein spezialist für Badesalze aus den
    Bergen.
</p>

<p>
    Die Riesen leben in kleinen Dörfern zusammen, wo sie eigentlich alles miteinander teilen. <br />
    Die, die nicht auf Reisen waren kennen das Konzept von Geld nicht. <br />
    Es gibt auch keine Rangordnung in den Dörfern, der Dorfschamane der für die Heilung mit Heilwurzeln zuständig ist,
    wird ggf. um Rat gefragt.
</p>

<p>
    Die Riesen wohnen in Stein geschlagene kleine Höhlen die sie meistens mit Gebirgsblumen und Kräuter verzieren.
</p>
