@page "/world/races/gnomes"

<PageTitle>Gnome</PageTitle>

<h6>Gnome</h6>

<p>
    Die Gnomen sind in
    <CergLink /> zuhause. Ein friedliebendes Volk von kleinen Humanoiden Wesen, <br />
    welches für sein Geschick in Technik und Feinmechaniken bekannt sind.
</p>

<AdminShowWrapper>
    <p>
        <a href="https://www.fantasynamegenerators.com/gnome-names.php" target="_blank">Namensgenerator</a>
    </p>
</AdminShowWrapper>

<p>
    <i>Jeder der was auf sich hält hat eine Taschenuhr aus Cerg</i> - Ammius ein reicher Händler aus
    <FederationLink />
</p>

<p>
    Die Gnome ähneln von ihrem aussehen den Menschen, jedoch haben sie eine kleinere Statur, die <br />
    größte bekannte Gnomin ist Cudniss, eine spezialistin für Uhrwerke mit einer Körpergröße von 1,30 m. <br />
    Ansonsten tendieren die Gnome dazu eine größere Nase zu haben.
</p>

<p>
    Gnome sind meistens eher höflich und zurückhaltend, was wahrscheinlich an ihrem natürlichen Nachteil der Physik liegt. <br/>
    Daher war es für <FederationLink /> einfach <CergLink /> als Vasall zu unterjochen und ihre Fähigkeiten für den Krieg zu nutzen. <br/>
    Die meisten Gnome wünschen sich wieder die Unabhängigkeit und verabscheuen die Verwendung ihrer Technik zu Kriegszwecken.
</p>

<p>
    Die Städte der Gnome trotzen nur so von Technik, mechanischen Lösungen und einem hohen Lebensstandart. <br/>
    Es gibt Häuser mit fließend Wasser und Aufzüge um schwere Lasten zu transportieren.
</p>

<p>
    Gnome sind eher weniger Religios stattdessen führen sie heftige Diskussionen in ihren Universitäten. <br/>
    Hier wird leidenschaftlich Theorien und Fakten debattiert.
</p>