@page "/world/races/harenae"

<PageTitle>Harenae (Sandleute)</PageTitle>

<h6>Harenae</h6>

<AdminShowWrapper>
    <p>
        <a href="https://www.fantasynamegenerators.com/dune-fremen-names.php">Namengenerator</a>
    </p>
    <p>
        <a href="https://translate.google.com/?hl=de&sl=de&tl=fa&op=translate">Sprache für Bezeichnung für Dinge</a>
    </p>
</AdminShowWrapper>

<p>
    Die Harenae leben in kleinen Stämmen nomadisch in der großen Wüste Madar in
    <AhianLink />. <br />
    Die Wüste liegt Nordenosten des Landes zwischen den Gebirgen Kuhostan und Topeh.
</p>

<p>
    Die Harenae halten sich riesige Wüstenskorpionen auf denen sie ihre Hütten bauen. <br />
    Die Skorpione sind schon seit Generationen in den Stämmen und gehören zur Familie. <br />
    Wenn ein neuer Riesenskorpion geboren wird, wird ihm ein Harenae als Maraghab (Fürsorger) zugewiesen. <br />
    Ein Maraghab zu sein ist die größte Ehre des Stammes und die besten Maraghab füren den Stamm an.
</p>

<p>
    Die Harenae beten die große Wüste als ihre Mutter an und bieten Offergaben dar um ihren segen zu erlangen. <br />
    So wird wenn eine lange Reise angetreten wird erst mal etwas als Gegenleistung der Wüste übergeben. <br />
    Damit die Wüste dem reisenden Sicherheit gewährt. <br />
</p>

<p>
    <i>"Wer was will muss immer auch was geben."</i> - Ghaffa, Maraghab eines Riesenskorpion
</p>

<p>
    Als Kämpfer sind die Harenae durch ihr Geschick und den Kampf mit dem Scimitar / Kurzschwerter gefürchtet.<br />
    Da sie seit Kindesalter immer über die Skorpione klettern sind diese bekannt für ihre Akrobatik und Balance. <br />
</p>