@page "/world/races/harenae"

<PageTitle>Harenae (Sandleute)</PageTitle>

<p>
    <a href="https://www.fantasynamegenerators.com/dune-fremen-names.php">Namengenerator</a>
</p>

<p>
    Die Harenae leben in kleinen Stämmen nomadisch in der Großen Wüste Madar in <AhianLink />. <br/>
    Die Wüste liegt Nordenosten des Landes zwischen den Gebirgen Kuhostan und Topeh
</p>