@page "/world/races/human"

<PageTitle>Menschen</PageTitle>

<h6>Menschen</h6>

<p>
    Die Menschen sind in 2 großen Nationen vertreten:
</p>

<div class="d-flex flex-row gap-3 mb-2">
    <MudCard>
        <MudCardContent>
            Die Menschen in
            <AhianLink />
            <AdminShowWrapper>
                <a href="https://www.fantasynamegenerators.com/byzantine-names.php" target="_blank">Namensgenerator</a>
            </AdminShowWrapper>
        </MudCardContent>
        <MudCardContent>
            Die Menschen in
            <FederationLink />
            <AdminShowWrapper>
                <a href="https://www.fantasynamegenerators.com/gothic-names.php" target="_blank">Namensgenerator</a>
            </AdminShowWrapper>
        </MudCardContent>
    </MudCard>
</div>