@page "/world/races/human"

<PageTitle>Menschen</PageTitle>

<h6>Menschen</h6>

<p>
    Die Menschen sind in 2 großen Nationen vertreten:
</p>

<div class="row">
    <div class="col-lg-6 col-12">
        <p class="w-100">
            <MudCard>
                <MudCardContent>
                    Die Menschen in
                    <AhianLink />
                    <AdminShowWrapper>
                        <a href="https://www.fantasynamegenerators.com/byzantine-names.php"
                            target="_blank">Namensgenerator</a>
                    </AdminShowWrapper>
                </MudCardContent>
            </MudCard>
        </p>
        <p>
            Da <AhianLink/> hauptsächlich von Dschungel und Regenwald bedeckt ist leben die Menschen dort in größeren <br/>
            Städten zusammen. Sie sind bekannt für ihre bunten Basare wo die Exotischen Erzeugnisse des Dschungels verkauft <br/>
            werden.
        </p>
        <p>
            Die bekanntesten Waren der Basare sind die Bewusstseinsveränderden Pflanzen, die mittlerweile auf der ganzen Welt <br/>
            begehrt werden. Des weiteren haben die Ahianer ein ausgedehntes Wissen um giftige Pflanzen, deren Gegengifte und <br/>
            Heilwirkungen anderer.
        </p>
        <p>
            Die Ahianer haben einen eher dunkleren Hautton, da speziell im Übergang zu der Wüste Madar es sehr heiß werden kann. <br/>
        </p>
        <p>
            Die Basare handeln nicht nur mit Währungen, traditionell werden auch viele Güter direkt getauscht. Oftmals werden <br/>
            mit Dienstleistungen bezahlt. Wenn man als Gegenleistung z.B. einen Handwerklichen Dienst, oder mit seinen Packtieren <br/>
            Waren transportiert.
        </p>
        <p>
            Wenn ein Geschäft abgeschlossen ist, ist es Tradition gemeinsam eine Wasserpfeife mit verschiedensten Wirkmitteln <br/>
            zu genießen.
        </p>
        <p>
            Das wichtigste Packtier ist der heimische Elefant. Die Ahianer verehren ihre Elefanten. Die Städte sind so gebaut, <br/>
            dass Elefanten quasi überall hinkommen. Ein Ahianer ist normalerweise nie ohne seinen Elefanten unterwegs. <br/>
            Ebenso wurden die Elefanten in den großen Krieg mitgenommen, wodurch die Ahianer zuerst die Oberhand hatten.
        </p>
        <p>
            Neben den Giften sind Ahianer bekannt für ihre Treffsicherheit mit dem Bogen oder der Armbrust. In Kombination <br/>
            mit ihren kenntnissen in Giften, tendieren sie dazu ihre Pfeile zu benetzen. Was einen guten Schützen auf einem <br/>
            gepanzerten Elefanten zu einem extrem gefährlichen Gegner macht.
        </p>
    </div>
    <div class="col-lg-6 col-12">
        <p class="w-100">
            <MudCard>
                <MudCardContent>
                    Die Menschen in
                    <FederationLink />
                    <AdminShowWrapper>
                        <a href="https://www.fantasynamegenerators.com/gothic-names.php"
                            target="_blank">Namensgenerator</a>
                    </AdminShowWrapper>
                </MudCardContent>
            </MudCard>
        </p>
    </div>
</div>