@page "/world/races/human"

<PageTitle>Menschen</PageTitle>

<h6>Menschen</h6>

<p>
    Die Menschen sind in 2 großen Nationen vertreten:
</p>

<div class="row">
    <div class="col-lg-6 col-12">
        <p class="w-100">
            <MudCard>
                <MudCardContent>
                    Die Menschen in
                    <AhianLink />
                    <AdminShowWrapper>
                        <a href="https://www.fantasynamegenerators.com/byzantine-names.php"
                            target="_blank">Namensgenerator</a>
                    </AdminShowWrapper>
                </MudCardContent>
            </MudCard>
        </p>
        <p>
            Da
            <AhianLink /> hauptsächlich von Dschungel und Regenwald bedeckt ist leben die Menschen dort in größeren
            <br />
            Städten zusammen. Sie sind bekannt für ihre bunten Basare wo die Exotischen Erzeugnisse des Dschungels
            verkauft <br />
            werden.
        </p>
        <p>
            Die bekanntesten Waren der Basare sind die Bewusstseinsveränderden Pflanzen, die mittlerweile auf der ganzen
            Welt <br />
            begehrt werden. Des weiteren haben die Ahianer ein ausgedehntes Wissen um giftige Pflanzen, deren Gegengifte
            und <br />
            Heilwirkungen anderer.
        </p>
        <p>
            Die Ahianer haben einen eher dunkleren Hautton, da speziell im Übergang zu der Wüste Madar es sehr heiß
            werden kann. <br />
        </p>
        <p>
            Die Basare handeln nicht nur mit Währungen, traditionell werden auch viele Güter direkt getauscht. Oftmals
            werden <br />
            mit Dienstleistungen bezahlt. Wenn man als Gegenleistung z.B. einen Handwerklichen Dienst, oder mit seinen
            Packtieren <br />
            Waren transportiert.
        </p>
        <p>
            Wenn ein Geschäft abgeschlossen ist, ist es Tradition gemeinsam eine Wasserpfeife mit verschiedensten
            Wirkmitteln <br />
            zu genießen.
        </p>
        <p>
            Das wichtigste Packtier ist der heimische Elefant. Die Ahianer verehren ihre Elefanten. Die Städte sind so
            gebaut, <br />
            dass Elefanten quasi überall hinkommen. Ein Ahianer ist normalerweise nie ohne seinen Elefanten unterwegs.
            <br />
            Ebenso wurden die Elefanten in den großen Krieg mitgenommen, wodurch die Ahianer zuerst die Oberhand hatten.
        </p>
        <p>
            Neben den Giften sind Ahianer bekannt für ihre Treffsicherheit mit dem Bogen oder der Armbrust. In
            Kombination <br />
            mit ihren kenntnissen in Giften, tendieren sie dazu ihre Pfeile zu benetzen. Was einen guten Schützen auf
            einem <br />
            gepanzerten Elefanten zu einem extrem gefährlichen Gegner macht.
        </p>
    </div>
    <div class="col-lg-6 col-12">
        <p class="w-100">
            <MudCard>
                <MudCardContent>
                    Die Menschen in
                    <FederationLink />
                    <AdminShowWrapper>
                        <a href="https://www.fantasynamegenerators.com/gothic-names.php"
                            target="_blank">Namensgenerator</a>
                    </AdminShowWrapper>
                </MudCardContent>
            </MudCard>
        </p>
        <p>
            Die weiten Wiesen von
            <FederationLink /> werden nur von den Städten, kleinen Dörfen von Bauernhöfen und deren Feldern <br />
            unterbrochen. Die meisten Leute leben hier von dem Handel ihrer selbst produzierten Waren. Eigentlich hat
            jeder <br />
            irgendwas zu verkaufen.
        </p>
        <p>
            Die Kherger sind bekannt für ihre großen Viehherden und ihre vortreffliche Lederverarbeitung. Des Weiteren
            sind sie <br />
            für ihre Reitkünste und die besten Zuchtpferde der Welt berühmt. Die Pferde aus den weiten Ebenen sind das
            wichtigste <br />
            Nutztier der Kherger.
        </p>
        <p>
            Nicht adelige Kherger wachsen meist als Kinder von Landwirten, Handwerkern, Händler oder Viehhaltern auf.
            <br />
            Nachdem die Kinder erwachsen werden müssen alle 3 Jahre Pflichtdienst im Militär der Föderation tätigen.
            <br />
            Anschließend ist es Tradition mit dem erarbeiteten Wehrsold auf Reisen zu gehen um danach in den Alltag
            <br />
            eine Erwachsenen zu übergehen.
        </p>
        <p>
            Da alle Kherger Steuern an ihre Adeligen Herren zahlen müssen versteht sich jeder darauf Handel zu <br />
            betreiben oder aus jedem Geschäft sich irgendwie einen finanziellen Vorteil zu sichern. Die komplette <br />
            Gesellschaft basiert auf Handel und dem Fluss des Geldes, was in
            <FederationLink /> quasi alles käuflich <br />
            macht.
        </p>
        <p>
            Kherger sind gewohnt alle Probleme auch mit Geld lösen zu können. Die Machtkämpfe der Adeligen für <br />
            Land und Steuereinnahmen sind gefüllt mit Intriegen, Bestechungen und Erpressungen. Jedoch sind nicht <br />
            alle Einwohner so Korrupt.
        </p>
        <p>
            In vielen kleinen Dörfern gibt es Nachbarschaftsverbände die sich finianziell und produktiv zusammen <br />
            schließen, um sich vor dem Machtkampf der Adeligen und deren Korruption zu schützen. Einige dieser <br />
            Kartelle sind groß und mächtig genug geworden um politischen Druck auf die Adeligen auszuüben.
        </p>
        <p>
            Blutige kämpfe zwischen den Kartellmilizen und den Truppen der Adeligen kommen jedoch eher selten auf.
        </p>
    </div>
</div>