@page "/tools/stories"

<AdminPageProtector />

<PageTitle>Geschichten</PageTitle>

<h6>One Shot Sylvester 2024</h6>

<p>
    Es war ein kalter Frühlingstag in Shete. Die letzten Vögel zwitschern während<br />
    die Sonne untergeht. Ein dichter Nebel dringt durch die Straßen.<br />
    Der Mond steigt langsam auf und lässt den Hafen, die angelegten Schiffe und <br />
    den Markt, den Handelsständen und Waren in einem bläulichen Schimmer<br />
    erscheinen. Die letzten Händler, Handwerker und anderen Bürger verwschwinden <br />
    schnell in die Häuser und Gaststätten. Es wird wohl eine kalte Nacht werden.<br />
    Genauso sucht ihr eine warme Unterkunft. Das Licht einer kleinen Taverne scheint<br />
    auf den Wegesrand, Gelächter, Musik und Stimmen dringen nach draußen.<br />
    "warmer Eintopf mit Pökelfleisch", das Schild außen weckt euren Appetit und<br />
    ihr tretet ein. Das Kaminfeuer prasselt, ein kleine Band mit Flöhte und Tamborin<br />
    spielen Musik. Die Taverne ist voller Leute in guter Laune, der Eintopf scheint<br />
    sehr beliebt zu sein. Es ist nur noch ein Tisch frei. Ihr setzt euch mit einigen<br />
    Fremden die ebenfalls mit euch angekommen sind an den Tisch.
</p>
<p>
    Wichtige Personen / Orte:
</p>

<MudSimpleTable class="mb-4">
    <tbody>
        <tr>
            <td>Cliddwem</td>
            <td>
                Entführter
                <GnomesLink />
            </td>
        </tr>
        <tr>
            <td>Rodolf</td>
            <td>
                Bezahlter Späher und Trunkenbold,
                <HumanLink />
            </td>
        </tr>
        <tr>
            <td>David Diogenus</td>
            <td>
                Journalist und Verfasser des Wochenplans,
                <HumanLink />
            </td>
        </tr>
        <tr>
            <td>Francio Glycas</td>
            <td>
                Kollege von Cliddwem, hat diesen vermisst gemeldet,
                <HumanLink />
            </td>
        </tr>
        <tr>
            <td>Trudel Drachenbrot</td>
            <td>
                Meisterbäckerin der Bäckerei "Backzwerg"
                <DwarfLink />/in
            </td>
        </tr>
        <tr>
            <td>Zeno Vatatzes</td>
            <td>
                Kontakt der
                <RoseLink /> im Bad "Dampfender Kessel".
                <HumanLink />
            </td>
        </tr>
        <tr>
            <td>Suderius</td>
            <td>
                Mitglied der
                <RoseLink />, zuständig für die Enführung von Cliddwem.
                <HumanLink />
            </td>
        </tr>
        <tr>
            <td>Agezet</td>
            <td>
                Handelsblatt in
                <SheteLink />
            </td>
        </tr>
        <tr>
            <td>Natasan</td>
            <td>
                beliebter Urlaubs Ort in
                <AhianLink />, hat ein weitreichendes Angebot an Räucherstäbchen
            </td>
        </tr>
        <tr>
            <td>G.</td>
            <td>
                Zwergenrunen Forscher der
                <RoseLink />
            </td>
        </tr>
    </tbody>
</MudSimpleTable>

<p class="fw-bold">
    Part 1: Der verschwundene Politker
</p>
<p>
    Der
    <GnomesLink /> Cliddwem wurde von der
    <RoseLink /> enführt. <br />
    Er war einer der Repräsentanten der Handelsgilde aus dem Senat und ist seit 2 Tagen verschwunden. <br />
    Sein letzter Vorschlag im Senat war eine Richtlinie, dass die magischen Experimente sicherer werden. <br />
</p>
<p>
    <i>
        "Um die Sicherheit der Bevölkerung zu gewährleisten sollen alle künftige magische Experimente in einem
        <br />
        sicheren Gebäude und unter aufsicht einer neuen Sicherheitskommission stattfinden. Ziel ist es nicht <br />
        die Experimente einzuschränken, sondern die Bevölkerung von den Gefahren der Fehlschläge zu schützen"
    </i>
</p>
<p>
    Die Helden treffen sich in einer Taverne auf der Suche nach arbeit. Dort treffen sie auf den Tagelöhner Rodolf
    <br />
    Dieser wurde von der
    <RoseLink /> angeheuert um Cliddwem zu beschatten und seinen Tagesablauf zu dokumentieren. <br />
    Da er vor kurzen seinen Bericht abgegeben hat, hat er nun einen riesen batzen geld den er in der Taverne
    versäuft.
</p>
<p>
    Er wird sich mit gebrüll, dass er jetzt reich sei und alle anderen keine Ahnung hätten wie man Geld macht <br />
    einen Streit anzetteln. Hier können die Helden von ihm von seinen Auftrag von der ihm unbekannten
    <RoseLink /> erfahren.<br />
    Und sie machen die Verbindung zu dem vermissten Fall aus.
</p>
<p>
    Rodolf hat von der
    <RoseLink /> 60 Silber erhalten, das meiste ist schon weg. Rodolf hat Cliddwem bechattet <br />
    und seinen Alltagsablauf weitergegeben. Er brüstet sich damit, dass er dem Gnom nur 1 Woche folgen musste <br />
    und so viel Geld dabei gemacht hat.
</p>
<p>
    Rodolf wurde ausgewählt weil er nicht der schlauste ist und den Alltag von Cliddwem bereits vergessen hat.<br />
    Jedoch ist er dümmer als geplant und leider analphabet. Deswegen musste er einen Schreiber damit beauftragen. <br />
    Das war der Journalist David Diogenus.
</p>

<p class="fw-bold">
    Part 2: Leider doch ein ungewöhnlicher Tag
</p>

<p>
    David Diogenus ist ein Journalist für die Zeitung Agezet und berichtet meistens über Handelsgeschehen und<br />
    eintreffende Schiffe. Player mit Handelsbackground könnten diesen Namen kennen. Ein unauffälliger Mann.<br />
</p>

<p>
    Aktuell versteckt er sich in seinem Büro und gibt vor nicht dort zu sein. Ein Schild "Vorrübergehend <br />
    geschlossen, bin in Natasan im Urlaub" hängt an seiner Tür. Er wusste direkt wofür dieser Tagesablauf<br />
    gedacht ist.
</p>

<p>
    Rodolf hat ihn eingeschüchtert und er hat den Tagesablauf von Cliddwem dieser Woche niedergeschrieben.<br />
    Wenn er den glauben hat, das die Player den Entführern nicht angehören dann wird er ihnen eine kopie <br />
    des Ablaufes aushändigen, welche er in weitsicht angefertigt hat.
</p>

<p>
    Hier sein Tagesablauf der Woche bevor seinem verschwinden:
</p>

<div class="d-flex flex-column gap-2 mb-3">
    <div class="mb-2">
        Montag
    </div>
    <div class="d-flex flex-column">
        <span>
            Morgen: Frühstück in der Bäckerei "Backzwerg".
        </span>
        <span>
            Mittag: Besuch des Marktplatzes, um neue Waren zu begutachten und Handelsverträge abzuschließen.
        </span>
        <span>
            Abend: Zuhause verbracht
        </span>
    </div>
    <div class="mb-2">
        Dienstag
    </div>
    <div class="d-flex flex-column">
        <span>
            Morgen: Verspätet Haus verlassen.
        </span>
        <span>
            Mittag: Treffen mit anderen wohlhabenden Händlern im Gildenhaus.
        </span>
        <span>
            Abend: Entspannung im Badehaus "Dampfender Kessel".
        </span>
    </div>
    <div class="mb-2">
        Mittwoch
    </div>
    <div class="d-flex flex-column">
        <span>
            Morgen: Frühstück in der Bäckerei "Backzwerg".
        </span>
        <span>
            Mittag: Inspektion der eigenen Lagerhäuser und Kontrolle der Bestände.
        </span>
        <span>
            Abend: Zuhause verbracht.
        </span>
    </div>

    <div class="mb-2">
        Donnerstag
    </div>
    <div class="d-flex flex-column">
        <span>
            Morgen: Tätigkeiten im Gildenhaus der Händlergilde
        </span>
        <span>
            Mittag: Besuch eines Repräsentanten in der Magiergilde.
        </span>
        <span>
            Abend: Auf dem Markplatz eine Lieferung kontrolliert.
        </span>
    </div>
    <div class="mb-2">
        Freitag
    </div>
    <div class="d-flex flex-column">
        <span>
            Morgen: Frühstück in der Bäckerei "Backzwerg".
        </span>
        <span>
            Mittag: Besuch im Haus der Finanzen.
        </span>
        <span>
            Abend: Besuch des Theaters "Silberlicht".
        </span>
    </div>
    <div class="mb-2">
        Samstag
    </div>
    <div class="d-flex flex-column">
        <span>
            Morgen: Tätigkeiten im Gildenhaus der Händlergilde
        </span>
        <span>
            Mittag: Besuch eines Kunsthandwerkermarktes, hat einige Gemälde gekauft.
        </span>
        <span>
            Abend: Zuhause verbracht
        </span>
    </div>
    <div class="mb-2">
        Sonntag
    </div>
    <div class="d-flex flex-column">
        <span>
            Morgen: Frühstück in der Bäckerei "Backzwerg".
        </span>
        <span>
            Mittag: Besuch des Theaters "Silberlicht".
        </span>
        <span>
            Abend: Zuhause verbracht
        </span>
    </div>
</div>

<p>
    Wann genau Cliddwem enführt wurde ist nicht klar, bei recherche bei der Händlergilde wird klar, <br />
    dass er seine offiziellen Termine am Freitag nicht eingehalten hat.
</p>

<p>
    Cliddwem war eher zurückgezogen und hat seine Pflichten auf seine Weise und Spontan erledigt. <br />
    Die meisten beschreiben ihn als jemanden der zufällig auftaucht um seine Kontrollgänge zu erledigen. <br />
    Am Freitag sollte er sich mit seinem Kollegen Francio Glycas treffen zu dem er nicht erschienen ist.
</p>

<p>
    Da dies untypisch ist seine wenigen festen Termine nicht einzuhalten wurden direkt die Wachen Benachrichtigt.
</p>

<p>
    Wirklich entführt wurde er am Dienstag bevor seinem wöchentlichen Bad im "Dampfender Kessel". <br />
    Die
    <RoseLink /> konnte durch den Wochenplan ihren Kontakt im Bad Zeno Vatatzes anfragen und so erfahren, dass <br />
    Cliddwem hier jeden Dienstag baden geht.
</p>

<p class="fw-bold">
    Part 3: Hoffentlich riecht es nicht zu schlimm
</p>

<p>
    Im Bad hat jemand an dem Tag komische Schreie aus einer Gasse davor gehört. In der unbenutzen kleinen Gasse <br />
    findet man noch hinweise auf den kleinen Kampf der dort Stattgefunden hat. Anscheinend hat sich Cliddwem <br />
    sehr gewährt und versucht zu flüchten.
</p>

<p>
    Nach genauer untersuchung kann man dort einen Zettel mit einer Adresse des Verstecks finden, wo Cliddwem hingebracht
    <br />
    wurde. In dem Haus befindet sich eine kleine Gruppe an Banditen, die einen Eingang in die Kanalisation bewachen.
    <br />
    Der Eingang wird sehr behütet von daher gehen die Banditen davon aus, dass jeder der herein kommt ein verbündeter
    ist.
</p>


<p>
    Im Eingangsraum können die Player ein Regal mit unterschiedlichen Berichten finden darunter Material zum
    Erpressen<br />
    von mehr oder weniger wichtigen Personen und Forschungsmaterial zu den
    <RunesLink />:<br />
</p>

<p>
    <i>
        Forschungen haben ergeben, dass das im Westgebirge geförderte Adamantit unbekannte magische Eigenschaften <br />
        besitzt. Dieses Adamantit wird für die Zwergischen Runen genutzt. <br />
        ------ <br />
        Gab es möglicherweise bereits schon mal einen magischen Komet?<br />
        ------ <br />
        Die Aktivierung der Runen verläuft ähnlich wie die Magie. Jedoch scheint hier vorraussetzung zu sein, dass
        <br />
        die magischen Eigenschaften von Adamantit bekannt sind. Die Runen scheinen eine Hilfestellung zu sein.<br />
        Anders als bei der Magie muss man mit dem Adamantit viel Tieferes Wissen über Elemente besitzen. Ohne die<br />
        Runen zu benutzen war es nicht möglich die magischen Eigennschaften von Adamantit zu entfalten.<br />
        ------ <br />
        Vielleicht ist die konzentration der Magie im Adamantit zu gering?<br />
        ------ <br />
        Das Adamantit in Schriftform scheint dabei zu Helfen die magischen Eigenschaften zu nutzen. Spricht man die
        <br />
        Runen mit Überzeugung aus, während der Gegenstand in den Händen gehalten wird. Kann man den geschriebenen
        Effekt<br />
        wirken.<br />
        Dieser scheint von Person zu Person unterschiedlich stark ausfallen. Wobei hier der Grund dafür noch unbekannt
        ist.<br />
        <br />
        - G.
    </i>
</p>

<p>
    Wenn sie den Eingang in die Kanalisation verlassen können sie Stimmen im Hauptraum daneben hören, welche von <br />
    der besten möglichkeit reden wie man die Leiche eines Gnomes verschwinden lassen kann.
</p>

<p>
    Im Hauptraum der Kanalisation erwartet sie Suderius, der Banditenanführer und Mitglied der
    <RoseLink />. <br />
    Er hat in einer Truhe den Brief der Organisation, dass er Cliddwem verschwinden lassen soll. Und er diesen <br />
    noch 2 Wochen am leben lassen muss. Falls er einen Zweck zu erfüllen hat. Der Brief ist mit einem Wachssiegel <br />
    der
    <RoseLink /> wiederversiegelt.
</p>

<p>
    <i>
        Lass Cliddwem verschwinden. <br />
        Lager ihn für 2 Wochen bevor du ihn entsorgst.
    </i>
</p>

<p>
    Suderius trägt einen Zwergendolch mit sich mit den Runen:
</p>

<p class="fw-bold" style="font-size: 20px;">
    ᛗᛟᚷᛖ ᚠᛖᚢᛖᚱ ᛖᚱᛊᚲᚺᛖᛁᚾᛖᚾ ᚨᚢᚠᛈᚱᚨᛚᛚ
</p>

<p>
    Möge Feuer erscheinen aufprall, erzeugt eine feuerexplosion bei Wurf, welche auf 3m durchmesser
    <DiceRoller Factor="8" DiceType="Models.DiceType.D10" /> Schaden verursachen. <br/>
</p>

<p>
    Nachdem Suderius und seine Bande besiegt wurde können die Player Cliddwem befreihen, der seinen Teil der <br />
    Geschichte erzählen kann. Ebenso finden sie in der Truhe mit dem Befehl 200 Silbertaler.
</p>