@page "/tools/stories"

<AdminPageProtector />

<PageTitle>Geschichten</PageTitle>

<h6>One Shot Sylvester 2024</h6>

<p class="fw-bold">
    Part 1: Der verschwundene Politker
</p>
<p>
    Der
    <GnomesLink /> Cliddwem wurde von der
    <RoseLink /> enführt. <br />
    Er war einer der Repräsentanten der Handwerksgilde aus dem Senat und ist seit 2 Tagen verschwunden. <br />
    Sein letzter Vorschlag im Senat war eine Richtlinie, dass die magischen Experimente sicherer werden. <br />
</p>
<p>
    <i>
        "Um die Sicherheit der Bevölkerung zu gewährleisten sollen alle künftige magische Experimente in einem
        <br />
        sicheren Gebäude und unter aufsicht einer neuen Sicherheitskommission stattfinden. Ziel ist es nicht <br />
        die Experimente einzuschränken, sondern die Bevölkerung von den Gefahren der Fehlschläge zu schützen"
    </i>
</p>
<p>
    Die Helden treffen sich in einer Taverne auf der Suche nach arbeit. Dort treffen sie auf den Tagelöhner Rodolf
    <br />
    Dieser wurde von der Rose angeheuert um Cliddwem zu beschatten und seinen Tagesablauf zu dokumentieren. <br />
    Da er vor kurzen seinen Bericht abgegeben hat, hat er nun einen riesen batzen geld den er in der Taverne
    versäuft.
</p>
<p>
    Er wird sich mit gebrüll, dass er jetzt reich sei und alle anderen keine Ahnung hätten wie man Geld macht <br />
    einen Streit anzetteln. Hier können die Helden von ihm seinen Auftragsbrief von der Rose bekommen.<br />
    Und sie machen die Verbindung zu dem vermissten Fall aus.
</p>
<p>
    Rodolf hat von der Rose 60 Silber erhalten, das meiste ist schon weg. Rodolf hat Cliddwem bechattet <br />
    und seinen Alltagsablauf weitergegeben. Er brüstet sich damit, dass er dem Gnom nur 1 Woche folgen musste <br />
    und so viel Geld dabei gemacht hat.
</p>
<p>
    Rodolf wurde ausgewählt weil er nicht der schlauste ist und den Alltag von Cliddwem bereits vergessen hat.<br />
    Jedoch ist er dümmer als geplant und leider analphabet. Deswegen musste er einen Schreiber damit beauftragen. <br />
    Das war der Journalist David Diogenus.
</p>

<p class="fw-bold">
    Part 2: Leider doch ein ungewöhnlicher Tag
</p>

<p>
    David Diogenus ist ein Journalist für die Zeitung Agezet und berichtet meistens über Handelsgeschehen und<br />
    eintreffende Schiffe. Player mit Handelsbackground könnten diesen Namen kennen. Ein unauffälliger Mann.<br />
</p>

<p>
    Aktuell versteckt er sich in seinem Büro und gibt vor nicht dort zu sein. Ein Schild "Vorrübergehend <br />
    geschlossen, bin in Natasan im Urlaub" hängt an seiner Tür. Er wusste direkt wofür dieser Tagesablauf<br />
    gedacht ist.
</p>

<p>
    Rodolf hat ihn eingeschüchtert und er hat den Tagesablauf von Cliddwem dieser Woche niedergeschrieben.<br />
    Wenn er den glauben hat, das die Player den Entführern nicht angehören dann wird er ihnen eine kopie <br />
    des Ablaufes aushändigen, welche er in weitsicht angefertigt hat.
</p>