@page "/people/ahian"

<PageTitle>Sultanat Ahian</PageTitle>

<h6>Sultanat Ahian</h6>

<AdminShowWrapper>
    <p>
        <a href="https://www.fantasynamegenerators.com/middle-eastern-town-names.php">
            Stadtnamen
        </a>
    </p>
</AdminShowWrapper>

<p>
    Das Sultanat Ahian wird aktuell von Florentius Gregoras beherrscht. Der Sultan ist sowohl <br />
    Staatsoberhaupt als auch Religiöser Führer der Nation. Im gegensatz der
    <FederationLink /> <br />
    müssen die Bürger hier keine Steuern zahlen, jedoch verrichten diese Opfergaben und Spenden <br />
    an den Sultan.
</p>

<p>
    Der Sultan verbringt die meiste Zeit in seinem Palast und zeigt sich nur äußerst selten anderen.<br />
    So ist für die meisten der Sultan eher das Konzept der Führung, des Gesetzes und der Macht, <br />
    der sie Respekt zollen.
</p>

<p>
    Der Palast befindet sich in der Hauptstadt Natasan, weit abgegrenzt von den niederen Mitbewohnern. <br />
    Seit dem großen Krieg gab es keine weiteren offiziellen Befehle des Sultans.
</p>