@page "/people/federation"

<PageTitle>Federation von Khergia</PageTitle>

<h6>Federation von Khergia</h6>

<AdminShowWrapper>
    <p>
        <a href="https://www.fantasynamegenerators.com/fantasy-town-names.php">Stadtnamen (auf deutsch übersetzt)</a>
    </p>
</AdminShowWrapper>

<p>
    Ein Land aus weiten Ebenen mit Wiesen unterbrochen nur von einigen Landwirtschaftlichen Feldern, <br />
    deren Dörfern und der gelegentlichen Stadt.
</p>

<p>
    Die Federation von Khergia ist eine klassische Monarchie mit Feudalsystem. König hat seine Vasallen <br />
    denen jeweils ein Gebiet zugeteilt wird, welches sie beherschen. So gibt es den aktuellen <br />
    König Ebermud Schwarzbruch III. und seine Barone / innen.
</p>

<p>
    Der König und der Adel scheint aktuell damit beschäftigt zu sein einen Standart der Magie im Adel <br />
    zu etablieren. So werden magische Anwender aus dem gemeinen Volke nur sehr schwer anerkannt und oft <br />
    als Schwindler bezeichnet.
</p>
<p>
    Militärisch ist die Federation seit dem Krieg aktiv geblieben und hat mit dem Metall der
    <DwarfLink Plural="true" /> <br />
    und dem Wissen der
    <GnomesLink Plural="true" /> ihre Kriegsmaschinerie modernisiert. Es gibt Gerüchte, <br />
    dass eine Art geheime magische Kampftruppe geben soll, jedoch sind diese Behauptungen nie irgendwie belegt worden.
</p>

<p>
    Die meisten
    <HumanLink Plural="true" /> gehen so ihrem normalen Tagesgeschäft nach und zahlen jeden Monat ihre <br />
    Steuerabgaben. Von den
    <DwarfLink Plural="true" /> hat man schon länger nichts mehr politisches gehört, was <br />
    für die meisten aber auch keine Überraschung ist.
</p>