@page "/people/federation"

<PageTitle>Federation von Khergia</PageTitle>

<h6>Federation von Khergia</h6>

<AdminShowWrapper>
    <p>
        <a href="https://www.fantasynamegenerators.com/fantasy-town-names.php">Stadtnamen (auf deutsch übersetzt)</a>
    </p>
</AdminShowWrapper>