@page "/people/cherstan/bouldergarde"

<PageTitle>Bouldergarde</PageTitle>


<h6>Bouldergarde (Militär / Garde)</h6>

<p>
    Die Bouldergarde ist das Militär und die Stadtwache von Cherstan.
    Sie stellen Wachpersonal und Gesetzeshüter, sie bilden die Executive.
    Die Bouldergarde befinden sich im dauerhaften Kampf gegen die unsicheren
    magischen experimente der Shiverlight Mitglieder.
</p>
