@page "/people/cherstan"

<PageTitle>Cherstan</PageTitle>

<h6>Cherstan</h6>

<AdminShowWrapper>
    <p>
        <a href="https://www.fantasynamegenerators.com/egyptian-town-names.php">Stadtnamen</a>
    </p>
</AdminShowWrapper>

<p>
    Cherstan ist ein Staat der Forschung und der Magie, hier werden ohne große moralische
    Vorgaben verschiedenste durchbrüche erziehlt. <br />
    Seit des Erwachens haben sich hier in dem kleinen Land alle Magieforschenden versammelt da Cherstan offener war als
    die anderen Nationen.
</p>

<p>

</p>

<p>
    In Cherstan gibt es mehrere Fraktionen:
</p>

<p>
    <MudList T="string">
        <MudListItem Icon="@Icons.Material.Filled.ArrowForward">
            Die Magiergilde
            <ShiverlightLink />.
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.ArrowForward">
            <BouldergardeLink />, die stattwache und das Militär
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.ArrowForward">
            <p>Richter</p>

            <p>
                Die Richter bilden die Rechtsprechung und alle anderen müssen sich ihren
                Urteilen beugen. Jedoch können sie sich nicht in der Regierung des Landes einbringen.

            </p>
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.ArrowForward">
            <p>Bürgerliche</p>

            <p>
                Die Bürgerlichen sind der Restliche Teil der Bevölkerung. Bauern, Handwerker, Händler.
            </p>
        </MudListItem>
    </MudList>
</p>

<h6>Politisch</h6>

<p>
    Cherstan ist eine Rebublick, deren Vertreter aus dem Volk gewählt werden.
</p>

<p>
    Bevölkerungsverteilung:
</p>
<p>
    <MudList T="string">
        <MudListItem>50 %
            <HumanLink Plural="true" /> Multikulti, sind seid generationen in Cherstan und kommen von
            <AhianLink /> und
            <FederationLink />
        </MudListItem>
        <MudListItem>15 %
            <DwarfLink Plural="true" />
        </MudListItem>
        <MudListItem>15 %
            <ElveLink Plural="true" />
        </MudListItem>
        <MudListItem>10 %
            <HarenaeLink />
        </MudListItem>
        <MudListItem>10 %
            <GnomesLink Plural="true" />
        </MudListItem>
    </MudList>
</p>

<p>Aktuelle Aufstellung des Senates:</p>
<p>
    <MudList T="string">
        <MudListItem>40 % Shiverlight</MudListItem>
        <MudListItem>35 % Bouldergarde</MudListItem>
        <MudListItem>25 % Bürgerliche</MudListItem>
    </MudList>
</p>

<p>
    Der Senat stimmt über Gesetzte und Außenpolitische Themen ab. Quasi jedes Thema
    wird über Tage hin durch heftige Debatten mit viel Zorn ausdiskutiert.
</p>

<AdminShowWrapper>
    <h6>Stories</h6>


    <h6>One Shot Sylvester 2024</h6>
    <p>
        Der
        <GnomesLink /> Cliddwem wurde von der
        <RoseLink /> enführt. <br />
        Er war einer der Repräsentanten der Bürgerlichen aus dem Senat und ist seit 2 Tagen verschwunden. <br />
        Sein letzter Vorschlag im Senat war eine Richtlinie, dass die Magischen Experimente sicherer werden. <br />
    </p>
    <p>
        <i>
            "Um die Sicherheit der Bevölkerung zu gewährleisten sollen alle künftige magische Experimente in einem
            <br />
            sicheren Gebäude und unter aufsicht einer neuen Sicherheitskommission stattfinden. Ziel ist es nicht <br />
            die Experimente einzuschränken, sondern die Bevölkerung von den Gefahren der Fehlschläge zu schützen"
        </i>
    </p>
    <p>
        Die Helden treffen sich in einer Taverne auf der Suche nach arbeit. Dort treffen sie auf den Tagelöhner Rodolf
        <br />
        Dieser wurde von der Rose angeheuert um Cliddwem zu beschatten und seinen Tagesablauf zu dokumentieren. <br />
        Da er vor kurzen seinen Bericht abgegeben hat, hat er nun einen riesen batzen geld den er in der Taverne
        versäuft.
    </p>
    <p>
        Er wird sich mit gebrüll, dass er jetzt reich sei und alle anderen keine Ahnung hätten wie man Geld macht <br />
        einen Streit anzetteln. Hier können die Helden von ihm seinen Auftragsbrief von der Rose bekommen.<br />
        Und sie machen die Verbindung zu dem vermissten Fall aus.
    </p>
    <p>
        Des weiteren kann Rodolf ihnen von dem Tagesablauf erzählen auch wenn er sich nur an kleines erinnert im Suff.
        <br />
        Rodolf hat von der Rose 60 Silber erhalten, das meiste ist schon weg.
    </p>
</AdminShowWrapper>