@page "/people/cherstan/shiverlight"

<PageTitle>Shiverlight</PageTitle>

<h6 class="mt-2">Shiverlight (Magiergilde)</h6>

<p>
    Die Shiverlight ist die größte und mächtigste Gilde von Cherstan. Sie befasst sich
    vor allem mit der magischen und historischen Forschung.
    Magische Kräfte sind keine Vorraussetzung des Eintritt.
    Man kann sich durch Abgabe der Forschungnotizen über die Gilde finanzieren, jedoch
    forschen viele unabhängig mit dem Verkauf von experimentellen Produkten.
    Ebenso laufen alle aktivitäten der Alchemisten über die Magiergilde.
</p>