@page "/world/runes"

<PageTitle>Zwergenrunen</PageTitle>

<AdminPageProtector />

<h6>Zwergenrunen</h6>

<p>
    Es gibt eine sehr alte tradition mit dem seltenen Adamantit aus dem Gebirge Gegenstände <br />
    zu verzieren. Aktuell ist die Funktion dieser Runen rein kosmetisch und auch die Sprache dahinter <br />
    bereits fast verkommen.
</p>

<p>
    Einige wenige Zwerge versuchen die alte Sprache wieder zu erlernen, jedoch ist der Zweck der Runen den <br />
    meisten unklar. Die Runen stellen eine Anwendungsmöglichkeit der Magie des Adamantites dar. So kann <br />
    der Träger des Gegenstandes mit großer Überzeugung und tieferem Wissen über die Sprache und dem Adamantit<br />
    diese Magie wirken.
</p>

<p>
    <a href="https://valhyr.com/pages/rune-converter" target="_blank">Runentranslator (Elder Futhark)</a>
</p>

<p>
    Ein Satz runen hat immer den gleiche effekt und da der magische Anteil des Adamatites gering ist, kann diese<br />
    nur einmal pro Stunde verwendet werden. Hier ein beispiel für einen solchen Effekt:
</p>

<p class="fw-bold" style="font-size: 20px;">
    ᛗᛟᚷᛖ ᛊᛏᛖᛁᚾ ᛊᚲᚺᚢᛏᛉᛖᚾ<br/>
</p>
<p>
    Die Eingrawierung der Kriegsaxt von Vamhilde Eichenbach <br/>
    Übersetzt: Möge Stein beschützen <br />
    Wird einen Steinwall um den Anwender und seine Verbündenen erschaffen der nach 1 Runde (10 sekunden) wieder<br />
    verschwindet.
</p>