@page "/world/lore"

<h1>Weltgeschichte</h1>

<p>
    Romeilter ist eine Welt, die tausende von Jahren Konflikte und Kriege hinter sich hat.
    Vor 10 Jahren trat ein Ereignis auf, was alle Konflikte zeitweise beendete.
</p>