@page "/world/lore"

<h6>Willkommen in Romeilter</h6>

<p>
    <img width="500px" src="images/RomeilterPolitical.svg" />
</p>

<p>
    Romeilter ist eine Welt, die tausende von Jahren Konflikte und Kriege hinter sich hat. <br />
    Die Ansässigen Völker und Länder sind:
<ul>
    <li>Die Elfen der borealen Wälder von
        <IquaLink />.
    </li>
    <li>
        <AhianLink /> mit den nomadischen Sandmenschen der großen Wüste im
        Norden
    </li>
    <li>
        Die Menschen und Zwerge die sich zur
        <FederationLink />
        zusammengeschlossen haben.
    </li>
    <li>
        Die Freie Republik der Wissenschaftsnation
        <CherstanLink /> in der alle
        Völker gemischt leben.
    </li>
    <li>
        Das handwerklich begabte Volk Gnomen in
        <CergLink /> welches von der
        <FederationLink /> als vasall unterworfen wurde.
    </li>
</ul>
</p>

<p>
    Es gab einen großen Krieg um den unbevölkerten südliche Kontinent zwischen dem
    <AhianLink /> und der
    <FederationLink />.
    Die Federation hatte um den Krieg zu gewinnen, das friedliche Volk der Gnomen unterworfen.
    Mit der Mechanik der Gnome und der Militärischen Macht der Federation war der Sieg gewiss.
</p>

<p>
    Vor 20 Jahren trat ein Ereignis auf, was alle Konflikte zeitweise beendete. <br />
    Ein großer Meteorit zersplitterte in der Atmosphere und lies den Himmel über Wochen bläulich schimmern. <br />
    Die
    <MagicLink /> wurde geboren.
    Danach wurden Menschen geboren, die ein Talent zur
    <MagicLink /> besitzen. Diese haben Meist eine Affinität zu einem Gewissen Medium (Feuer, Eis, Wasser).
    Es können jedoch alle anderen ebenfalls die Kunst der Magie erlernen.
</p>

<p>
    Seit dem Erwachen der Magie ist auch der Krieg um den Südlichen Kontinent eingefroren. Das <AhianLink /> und die <FederationLink />
    haben einen Waffenstillstand ausgehandelt. <br/>
    Beide Nationen haben sich bis auf einige Militärpatroullien und Außenposten aus dem südlichen Kontinent zurückgezogen. <br/>
    Es stand der Welt von Romeilter ein goldenes Zeitalter des Friedens bevor.
</p>

<p>
    In <CherstanLink /> wo die Bevölkerung schon immer sehr Erfindungsreich war etablierte sich eine Magiegilde, welche
    sich die Erforschung der neuen Magie widmete. <br/>
    So wurde die unscheinbare Republik zu der führenden Forschungsnation, in der sich nun die Vertreter aller Völker versammeln.
</p>

<p>
    In den 20 Jahren bis heute wurden die Grenzen der Nationen weiter geöffnet. Ebenso wurden die Völker offener für Einwanderung
    und andere Kulturen.
</p>

<p>
    Jedoch tut sich langsam eine Gefahr auf, die sich anscheinend im Hintergrund versteckt und gewartet hat. Auf eine Gelegenheit...
</p>