@page "/world/magic"

<h1>Die Magie</h1>

<p>
    Die Magie funktioniert auf Basis der Kenntnis.

    Ein Beispiel:
    Ein Schmied der sich Jahre mit der Hitze des Feuers und unterschiedlichen Arten der verarbeitung von Metall beschäftigt hat,
    kann nun durch weiteres Forschen an den Eigenschaften des Feuers anfangen dieses zu beherrschen.
    Anfangs kann er vielleicht die Temparatur steuern, oder die Kohlen mit der Kraft der Magie entzünden.
    Je mehr er über das Feuer lernt, desto mehr kann er dieses kontrollieren
</p>

<p>
    Im endeffekt ist jeder dazu in der Lage die Magie zu verwenden, jedoch ähnlich wie ein Schwertmeister muss sich jemand lange mit der Magie und
    einem Medium beschäftigen
</p>