@page "/world/pantheon"

<PageTitle>Pantheon</PageTitle>

<h6>
    Das Götter Pantheon
</h6>

<p>
    Grundsätzlich gibt es zwei Pantheons an Götter in Romeilter. <br />
    Die Westlichen, wobei hier die religiösen Leute aus
    <CherstanLink /> und
    <AhianLink /> dieses verehren. <br />
    Und die Östlichen, welche ihre Anhänger in der
    <FederationLink /> finden.
</p>

<p>
    Jeder kann an jeden Gott glauben, traditionell ist es aber in West und Ost aufgeteilt.
</p>

<p>
    <MudAlert Severity="Severity.Error">Ich lass hier vorsätzlich erst mal leer, dann könnt ihr wenn ihr eure Charaktere
        erstellt frei eure Gottheit dazu wählen. Natürlich nur wenn der Charakter religiös werden soll.</MudAlert>
</p>

<div class="row">
    <div class="col-lg-6 col-12 d-flex flex-column">
        <p>
            <b>Das östliche Pantheon</b>
        </p>
    </div>
    <div class="col-lg-6 col-12 d-flex flex-column">
        <p>
            <b>Das westliche Pantheon</b>
        </p>
    </div>
</div>